mixin player(info)
  div 
    h4 #{info.name}
    ul
      li position: #{info.position}
      li age: #{info.age}
  hr

mixin video(info)
  div
    h4
      a(href=`/chelsea/videos/${info.id}`)=info.title
    ul
      li #{info.description}
      li posted #{info.createdAt}
      li #{info.hashtags}
  hr
    


mixin showComments(info)
  each comment in info.comments
    li #{comment}